.miDivPrincipal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff, #a7f1e5);
  }

#contenedor-centrado {
    border-radius: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    display: flex;
}

#contenedor-imagen {
    border-color: rgb(0, 0, 0);
    flex: 2;
    background: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);

}

#contenedor-inicio {
    border-color: rgb(0, 0, 0);
    flex: 1;
    background: linear-gradient(180deg, #ffffff, #c5d5e7);
    border-radius: 0 10px 10px 0;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.btn-ancho {
    width: 200px;
}

.peluqueria-txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #5db8e2;
}

.bienvenido-txt {
    color: #47b2e4;
}

.linea-txt {
    width: 80%;
    color: #5db8e2;
}

.divisor {
    display: flex;
    align-items: center;
    color: #47b2e4;
}

.divisor::before,
.divisor::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #47b2e4;
}

.divisor::before {
    margin-right: 10px;
}

.divisor::after {
    margin-left: 10px;
}


#contenedor-bienvenida {
    margin-top: 10%;
    flex: 1;
}

#contenerLogin{
    flex: 2;
    justify-content: center;
    align-items: center;
}

.linea{
    color: #47b2e4;
}

#divButton{
    display: flex;
    justify-content: center;
    align-items: center;
}